* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
}
form {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    display: grid;
}
form > * {
 margin: 0px 10px;
}
form > label {
margin-top: 20px;

}
form > input {
 text-indent: 6px;
}
form > button {

 
margin-top: 20px; 
 height: 40px;
}



input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}
.error {

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}